*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.timer__items {
    display: flex;
    font-size: 100px;
}

.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -22px;
}

.timer{
    background-color: black;
    width: 490px;
    height: 180px;
    border-radius: 10px;
    padding-top: 7px;
    margin: 0 auto;
}

